<div class="card border-primary mb-3 text-center">
  <div class="card-header">Lista de Productos</div>
  <div class="card-body text-primary">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Imagenes</th>
            <th>Producto</th>
            <th>Codigo</th>
            <th>Disponible</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of products()
          | paginate: {itemsPerPage:5, currentPage:p(), totalItems:total()}">
            <td><img [src]="producto.image" width="50" height="50"></td>
            <td>{{ producto.productName }}</td>
            <td>{{ producto.productCode }}</td>
            <td>{{ producto.releasedDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ producto.price }}</td>
            <td>
              <button class="btn btn-success"><i class="bi bi-eye"></i> Ver</button>
              &nbsp;
              <button class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</button>
              &nbsp;
              <button class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p.set($event)"></pagination-controls>
    </div>
  </div>
</div>
