<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle">Restablecer Contraseña</h3>
    <div class="row omb_row-sm-offset-3">
      <div class="col-12 col-sm-6">
        @if (error) {
          <p class="text-center text-danger">{{ error }}</p>
        }
        @if (!token && !error) {
          <p class="text-center text-danger">Link inválido. <a routerLink="/forgot-password">Solicitar nuevo link</a></p>
        }
        @if (token && !mensaje) {
          <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-lock-fill">&nbsp;</i></span>
              <input formControlName="password" type="password" class="form-control" placeholder="Nueva contraseña">
            </div>
            <span class="help-block">Mínimo 6 caracteres</span>
            <br>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-lock-fill">&nbsp;</i></span>
              <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirmar contraseña">
            </div>
            @if (resetForm.hasError('passwordsNotMatch') && resetForm.get('confirmPassword')?.touched) {
              <span class="text-danger">Atención: las contraseñas deben ser iguales</span>
            }
            <br>
            <button class="btn btn-lg btn-primary w-100" type="submit" [disabled]="resetForm.invalid">Restablecer</button>
          </form>
        }
        @if (mensaje) {
          <p class="text-center text-success">{{ mensaje }}</p>
        }
        <br>
        <p class="text-center"><a routerLink="/login">Volver al login</a></p>
      </div>
    </div>
  </div>
</div>
