<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle">Recuperar Contraseña</h3>
    <div class="row omb_row-sm-offset-3">
      <div class="col-12 col-sm-6">
        @if (!enviando) {
          <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" autocomplete="off">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-envelope-fill">&nbsp;</i></span>
              <input formControlName="email" type="email" class="form-control" placeholder="Email">
            </div>
            <br>
            <button class="btn btn-lg btn-primary w-100" type="submit" [disabled]="forgotForm.invalid || enviando">Enviar link</button>
          </form>
        }
        <br>
        @if (mensaje) {
          <p class="text-center text-success">{{ mensaje }}</p>
        }
        <p class="text-center"><a routerLink="/login">Volver al login</a></p>
      </div>
    </div>
  </div>
</div>
